.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
}
.header {
  display: flex;
  flex-direction: row;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background-color: blue;
  color: white;
  text-align: center;
}

.header menuOptions{
    justify-content: center;
}

.container{
  display: flex;
  position: fixed;
  justify-content: space-between;
  left: 0;
  top: 0;
  width: 100%;
  background-color: blue;
  color: white;
  text-align: center;
}