---
name: Application Checks

on: [push]

jobs:
  test-api:
    name: Test API
    runs-on: ubuntu-24.04
    steps:
      - name: Login to Docker
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USER }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Checkout
        uses: actions/checkout@v5
      - name: Test
        run: docker compose run api pytest